


<div class="field-group">
  <mat-form-field class="example-full-width">
<!-- #docregion input -->
    <input type="text"
           placeholder="Find an agent by country"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
<!-- #enddocregion input -->
<!-- #docregion mat-autocomplete -->
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of allAgentsCountries" [value]="option.Country">
        {{option.Country}}
      </mat-option>
    </mat-autocomplete>
<!-- #enddocregion mat-autocomplete -->
  <mat-error></mat-error>
  </mat-form-field>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">All Agents</h3>
        </div>
        <div class="panel-body">
        <li *ngFor='let agents of allAgents'>
          <i>{{agents.Name}}</i>
        </li>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">All Agent Countries</h3>
        </div>
        <div class="panel-body">
        <li *ngFor='let agentCountry of agentCountriesIds'>
          <i>{{agentCountry.Country}}</i>
        </li>
        </div>
      </div>
    </div> -->
  </div>
</div>
