<!-- <agent-countries></agent-countries> -->
<div class="field-group">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Find an agent by country"
           aria-label="Number"
           matInput
           [formControl]="agentCountrySearch"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let c of countries$ | async"
        (click)="displayAgents(c.Id, c.Country)"
        routerLink="/"
        [value]="c.Country">
        {{c.Country}}
      </mat-option>
    </mat-autocomplete>
   <!-- <mat-error></mat-error> -->
  </mat-form-field>
</div>

<div class="row">
  <div class="col-sm-12" *ngFor='let agent of agents'>
      <mat-card>
        <mat-card-title>{{agent.Name}}</mat-card-title>
        <mat-card-subtitle>{{agent.Addr1}}</mat-card-subtitle>
        <mat-card-content>
          <ul>
            <li>{{agent.City}}</li>
            <li>{{agent.Postcode}}</li>
            <li>{{agent.State}}</li>
          </ul>
          <p>Contact Person: {{agent.ContactName}}</p>
          <p>Website: {{agent.URL}}</p>
        </mat-card-content>
      </mat-card>
    </div>
</div>





