<div class="findAnAgent">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- <agent-countries></agent-countries> -->
            <div class="field-group">
              <mat-form-field class="example-full-width">
                <input type="text"
                      aria-label="Number"
                      matInput
                      [formControl]="agentSearch"
                      [matAutocomplete]="auto">
                <mat-placeholder class="placeholder">Find an agent by country</mat-placeholder>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of filteredOptions | async"
                    (click)="onAgentCountrySelect(option)"
                    [value]="option.Country">
                    {{option.Country}}
                  </mat-option>
                </mat-autocomplete>
              <!-- <mat-error></mat-error> -->
              </mat-form-field>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h4>{{heading}}</h4>
        <mat-button-toggle-group *ngIf="toggleVisibility" [value]="toggle" (change)="toggleView($event)" class="toggleView">
          <mat-button-toggle [value]="true">
              Grid
          </mat-button-toggle>
          <mat-button-toggle [value]="false">
              List
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div [hidden]="!toggle">
      <div class="row agents-list">
        <div class="col-md-12" *ngFor='let agent of agents'>
              <mat-card>
                <mat-card-title>{{agent.Name}}</mat-card-title>
                <mat-card-subtitle>{{agent.Addr1}}</mat-card-subtitle>
                <mat-card-content>
                  <ul>
                    <li *ngIf="agent.City">{{agent.City}}</li>
                    <li *ngIf="agent.Postcode">{{agent.Postcode}}</li>
                    <li *ngIf="agent.State">{{agent.State}}</li>
                  </ul>
                  <p>Contact Person: {{agent.ContactName}}</p>
                  <p *ngIf="agent.URL">Website: <a href="{{agent.URL}}">{{agent.URL}}</a></p>
                </mat-card-content>
              </mat-card>
          </div>
      </div>
    </div>

    <div [hidden]="toggle">
      <div class="row">
        <div class="col-md-12">
          <table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="Addr1">
              <th mat-header-cell *matHeaderCellDef>Address</th>
              <td mat-cell *matCellDef="let element"> {{element.Addr1}} </td>
            </ng-container>

            <!-- Contact Name Column -->
            <ng-container matColumnDef="ContactName">
              <th mat-header-cell *matHeaderCellDef>Contact Person</th>
              <td mat-cell *matCellDef="let element"> {{element.ContactName}} </td>
            </ng-container>

            <!-- Website URL Column -->
            <ng-container matColumnDef="URL">
              <th mat-header-cell *matHeaderCellDef>Website</th>
              <td mat-cell *matCellDef="let element"><a href="{{element.URL}}">{{element.URL}}</a></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator  [pageSize]="10" [pageSizeOptions]="[5,10,20]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>

</div>




