.findAnAgent {
  .container-fluid {
    background: rgba(0,0,0,.1);
    margin-bottom: 20px;
  }

  h4 {
    font-size: 2rem;
    font-weight: normal;
    float:left;
  }

  .toggleView {
    float:right;
    margin-bottom: 20px;
  }

  .mat-form-field {
    padding:20px;
    background: #fff;

    input {
      font-size: 1.4rem;
    }
  }

  table {
    width: 100%;
  }

  .mat-card-content ul {
    list-style:none;
    padding:0;
  }
}

//overrides
.agents-list .col-md-12 {
  margin-bottom: 20px;

  .mat-card {
    height: 100%;
  }
}
