
<mat-form-field class="example-full-width">
  <input type="text"
        aria-label="Number"
        matInput
        [formControl]="agentSearch"
        [matAutocomplete]="auto">
  <mat-placeholder class="placeholder">Find an agent by country</mat-placeholder>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of filteredOptions | async"
      (click)="onAgentSelect(option)"
      [value]="option.Country">
      {{option.Country}}
    </mat-option>
  </mat-autocomplete>
<!-- <mat-error></mat-error> -->
</mat-form-field>
