<div class="findAnAgent">

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="field-group">
            <country-search
              (agentSelect)="onAgentCountrySelect($event)">
            </country-search>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>{{heading}}</h4>
        <mat-button-toggle-group [value]="isTable" (change)="toggleDisplay($event)" class="toggleView">
          <mat-button-toggle [value]="true">Grid
          </mat-button-toggle>
          <mat-button-toggle [value]="false">Table
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="showLoadingBar"></mat-progress-bar>

    <!-- Grid View -->
    <div [hidden]="!isTable">
      <div class="row agents-list">
          <agent-grid class="col-md-12"
            *ngFor='let agent of pagedList'
            [agent]="agent">
          </agent-grid>
      </div>
    </div>

    <!-- Table View -->
    <div [hidden]="isTable">
      <div class="row">
        <div class="col-md-12">
          <agent-table [agentTable]="pagedList" [tableColumns]="displayedColumns">
          </agent-table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-paginator showFirstLastButtons
          [length]="length"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>

  </div>

</div>

