<div class="findAnAgent">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>{{heading}}</h3>

        <div class="field-group">
          <country-search class="country-search"
            (agentSelect)="onAgentCountrySelect($event)">
          </country-search>
        </div>
        <mat-button-toggle-group [value]="isTable" (change)="toggleDisplay($event)" class="toggleView">
          <mat-button-toggle [value]="true">Grid
          </mat-button-toggle>
          <mat-button-toggle [value]="false">Table
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <mat-progress-bar mode="indeterminate" *ngIf="showLoadingBar"></mat-progress-bar>

    <!-- Grid View -->
    <div [hidden]="!isTable">
      <div class="row agents-list">
          <agent-grid class="col-md-12"
            *ngFor='let agent of pagedList'
            [agent]="agent">
          </agent-grid>
      </div>
    </div>

    <!-- Table View -->
    <div [hidden]="isTable">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th *ngFor="let tableColumnHeader of tableColumnHeaders">
                  {{tableColumnHeader}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr agent-table *ngFor="let item of pagedList"
                [item]="item">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-paginator showFirstLastButtons
          [length]="length"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>

</div>

