@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-card {
    max-width: none;
    margin: 0 0 20px 0;
    padding: 15px 15px 15px 21px;
    word-break: break-word;
    position: relative;
}
